.main {
  width: 100%;
  height: 100%;
}

h1, h2 {
  font-family: "Oswald";
}

.split__view {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  color: #fff;
  min-width: 460px;
  font-size: 23px;
}

.abs__img {
  height: 40px;
  margin-right: 20px;
}

.sidebar__link {
  color: #fff;
}

.container__sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  height: 100%;
  width: 100%;
  padding: 50px 30px 30px;
  background-color: #180A29;
}

.sidebar__img {
  align-self: center;
  border-radius: 20%;
  width: 230px;
}

.sidebar__title {
  position: relative;
  margin-bottom: 55px;
  font-size: 30px;
  font-weight: 500;
  color: #889297;
}
.sidebar__title:after {
  position: absolute;
  font-size: 20px;
  content: "____________________";
  top: 35px;
  left: 0;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.sidebar__list li {
  display: flex;
  align-items: center;
}

.skills__list li {
  justify-content: space-between;
}

.skills__list img {
  width: 200px;
}

.main__info {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  color: #2A3B47;
  padding: 50px 30px 30px 55px;
}

.info__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.info__title {
  position: relative;
  margin-bottom: 35px;
  font-size: 77px;
  color: #2E0F53;
}
.info__title:after {
  position: absolute;
  font-size: 30px;
  content: "____________________";
  top: 80px;
  color: #1292EE;
  left: 0;
}

.info__title_2 {
  position: relative;
  margin-bottom: 35px;
  font-size: 42px;
  color: #2E0F53;
}
.info__title_2:after {
   position: absolute;
   font-size: 30px;
   content: "____________________";
   top: 35px;
   color: #1292EE;
   left: 0;
 }

.info__title_3 {
  font-family: "Raleway";
  font-size: 33px;
  font-weight: 600;
  color: #465967;
  margin-bottom: 5px;
}

hr {
  margin: 20px 0 30px;
  border: 1px solid #889297;
}

